<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Welcome to the most extraordinary hotel in Boston Massachusetts">
  <meta name="keywords" content="hotel,boston hotel,new england hotel">
  <script src="https://kit.fontawesome.com/58e5d620d2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" media="screen and (max-width: 768px)" href="css/mobile.css">
  <title>Hillary Wolfe | Welcome</title>
</head>
<body>
<header>
  <nav id="navbar">
    <div class="container">
      <h1 class="logo"><a href="index.html">Hillary Wolfe</a></h1>
      <ul>
        <li><a class="current" href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>