<%- include("header") -%>

<div id="showcase">
  <div class="container">
    <div class="showcase-content">
      <h1><span class="text-primary">Enjoy</span> Your Dog</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda blanditiis debitis eius eos ipsa iste, magnam quod repudiandae tempore unde.</p>
      <a class="btn" href="about.html">About Hillary Wolfe</a>
    </div>
  </div>
</div>

<section id="home-info" class="bg-dark">
  <div class="info-img"></div>
  <div class="info-content">
    <h2>Brief Background on <span class="text-primary">Hillary Wolfe</span></h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda
      aliquam dolor alias iste autem, quaerat magni unde accusantium qui
      fuga placeat quidem quo pariatur, voluptatum, ea sequi? Corporis,
      explicabo quisquam dolor placeat praesentium nesciunt mollitia quos
      nobis natus voluptatum asperiores!
    </p>
    <a href="about.html" class="btn btn-light">Read More</a>
  </div>
</section>

<section id="features">
  <div class="box bg-light">
    <i class="fa-solid fa-paw fa-3x"></i>
    <h3>Great Behavior</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, omnis?</p>
  </div>
  <div class="box bg-primary">
    <i class="fas fa-utensils   fa-3x"></i>
    <h3>Video Chat Support</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, omnis?</p>
  </div>
  <div class="box bg-light">
    <i class="fas fa-dumbbell fa-3x"></i>
    <h3>Quality Training</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, omnis?</p>
  </div>
</section>

<div class="clr"></div>

<%- include("footer") -%>