<%- include("header") -%>

<section id="testimonials" class="py-3">
    <div class="container">

        <h2 class="l-heading">Services</h2>

        <div class="testimonial bg-primary">
            <h3>Service Here:</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam culpa dolores eligendi hic itaque iusto laborum maxime placeat! Culpa dolor doloribus itaque iure qui quisquam quo sequi sunt, velit. Harum id, tenetur! Commodi consectetur dolores eveniet ex explicabo sed soluta.</p>
        </div>

        <div class="testimonial bg-primary">
            <h3>Service Here:</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam culpa dolores eligendi hic itaque iusto laborum maxime placeat! Culpa dolor doloribus itaque iure qui quisquam quo sequi sunt, velit. Harum id, tenetur! Commodi consectetur dolores eveniet ex explicabo sed soluta.</p>
        </div>

        <div class="testimonial bg-primary">
            <h3>Service Here:</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam culpa dolores eligendi hic itaque iusto laborum maxime placeat! Culpa dolor doloribus itaque iure qui quisquam quo sequi sunt, velit. Harum id, tenetur! Commodi consectetur dolores eveniet ex explicabo sed soluta.</p>
        </div>

        <div class="testimonial bg-primary">
            <h3>Service Here:</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam culpa dolores eligendi hic itaque iusto laborum maxime placeat! Culpa dolor doloribus itaque iure qui quisquam quo sequi sunt, velit. Harum id, tenetur! Commodi consectetur dolores eveniet ex explicabo sed soluta.</p>
        </div>

        <div class="testimonial bg-primary">
            <h3>Service Here:</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam culpa dolores eligendi hic itaque iusto laborum maxime placeat! Culpa dolor doloribus itaque iure qui quisquam quo sequi sunt, velit. Harum id, tenetur! Commodi consectetur dolores eveniet ex explicabo sed soluta.</p>
        </div>

        <div class="testimonial bg-primary">
            <h3>Service Here:</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam culpa dolores eligendi hic itaque iusto laborum maxime placeat! Culpa dolor doloribus itaque iure qui quisquam quo sequi sunt, velit. Harum id, tenetur! Commodi consectetur dolores eveniet ex explicabo sed soluta.</p>
        </div>
        <div class="testimonial bg-primary">
            <h3>Service Here:</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam culpa dolores eligendi hic itaque iusto laborum maxime placeat! Culpa dolor doloribus itaque iure qui quisquam quo sequi sunt, velit. Harum id, tenetur! Commodi consectetur dolores eveniet ex explicabo sed soluta.</p>
        </div>

        <div class="testimonial bg-primary">
            <h3>Service Here:</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam culpa dolores eligendi hic itaque iusto laborum maxime placeat! Culpa dolor doloribus itaque iure qui quisquam quo sequi sunt, velit. Harum id, tenetur! Commodi consectetur dolores eveniet ex explicabo sed soluta.</p>
        </div>

        <div class="testimonial bg-primary">
            <h3>Service Here:</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam culpa dolores eligendi hic itaque iusto laborum maxime placeat! Culpa dolor doloribus itaque iure qui quisquam quo sequi sunt, velit. Harum id, tenetur! Commodi consectetur dolores eveniet ex explicabo sed soluta.</p>
        </div>

        <div class="testimonial bg-primary">
            <h3>Service Here:</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam culpa dolores eligendi hic itaque iusto laborum maxime placeat! Culpa dolor doloribus itaque iure qui quisquam quo sequi sunt, velit. Harum id, tenetur! Commodi consectetur dolores eveniet ex explicabo sed soluta.</p>
        </div>
    </div>
</section>

<%- include("footer") -%>